<div class="" id="document<%= user_document.id%>">
   <i class="far fa-file-alt text-primary" style="font-size: 24px;"></i> <%= link_to user_document.file_file_name, user_document.file.url %>
    <%= link_to delete_user_document_path(user_document.id),remote: true do %>
    <i class="fas fa-trash 2x text-danger float-right mt-2" style="font-size: 20px"></i>
    <hr class="mt-2">
    <% end %>

 
    
</div>
