<div class="nested-fields">
  <div class="input-file-container">
    <%= f.file_field :file, class:"input-file", :data => { :buttonText => 'bar' } %>
    <label tabindex="0" for="input-file" class="input-file-trigger bg-primary">Choose File...</label>
    <span class="file-return">No File Choosen</span>
    <%= f.hidden_field :user_id, value: @user.id %>
    <span class="float-right mt-2">
      <%= link_to_remove_association "<i class='fas fa-times'></i>".html_safe, f %>
    </span>
  </div>
</div>