<%= render "layouts/profileheader",user: @user %>

<div class="container py-4 pb-2">
    <strong><p class="text-center">You will be able to upload documents required by Tekkova in this section</p></strong>
   
</div>