<%= render "layouts/profileheader",user: @user %>

<div class="container py-4 pb-2">
  <div class="col-md-6 mx-auto">
      <div class="" id="documents-list">
          <%= render @user.documents%>
      </div>  
        <%= form_with url: upload_documents_url, :html => { method: :get, :multipart => true, :id => "fileupload" } do |f| %>
          <%= f.file_field :upload,multiple: false,id: 'documents',class: 'd-none' %>
          <label for="documents" class="file-document-design">+</label>
          <% submit_tag "Submit"%>
          
        <% end %>
   

  </div>
</div>
<script id="template-upload" type="text/x-tmpl">
  <div class="upload row align">
    <div class="col-11">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div>
    </div>
    </div>
     <div class="col-1">
    <div class="document-succes-bg d-non float-right">
            <div class="shw-tick">
              <i class="fas fa-check 2x"></i>
            </div>
          </div>
      </div>
  </div>
  
</script>

<script>
(function() {
  jQuery(function() {
    return $('#fileupload').fileupload({
      dataType: "script",
      add: function(e, data) {
        var file, types;
        types = /(\.|\/)(gif|jpe?g|png|pdf|doc?x|doc|xlsx)$/i;
        file = data.files[0];
        if (types.test(file.type) || types.test(file.name)) {
          data.context = $(tmpl("template-upload", file));
          $('#fileupload').append(data.context);
          $('.document-succes-bg')
            .delay(5000)
            .queue( function(next){ 
              $(this).show(); 
              next(); 
            });
            $('.upload')
            .delay(7000)
            .queue( function(next){ 
              $(this).hide(); 
              next(); 
            });
          return data.submit();
        } else {
          return alert(file.name + " is not a gif, jpeg, png, docx, xlsx or pdf file");
        }
      },
      progress: function(e, data) {
        var progress;
        if (data.context) {
          progress = parseInt(data.loaded / data.total * 100);
          return data.context.find('.bar').css('width', progress + '%');

        }
      }
    });
  });

}).call(this);


</script>