<%= render "layouts/profileheader",user: @user %>
<div class="container py-4">
  <strong><p class="text-center">The handover process will be activated once you have a booking' when they click on it</p></strong>
</div>