<%= render "layouts/profileheader",user: @user %>
<div class="container pt-4 pb-2">
  <strong><p class="text-center">The handover process will be activated once you have a booking.</p></strong>
</div>