<%= render "layouts/profileheader",user: @user %>


<section class="section-no-border background-color-light m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <strong>You have not received any ratings or reviews yet</strong>
            </div>
        </div>
    </div>
</section>