<div class="container py-4">
  <h3>User Management</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan=2>View</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td> <%= user.email %></td>
        
        <td><%= link_to 'Show', user_path(user), class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to '<i class="fas fa-trash icon-chat" style="font-size: 19px" title="Delete"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
      <% end %>
      
    </tbody>
  </table>
</div>