<div class="sign_up-page-bg">
  <div class="col-md-4 mx-auto">
    <div class="py-3 signup-page-icon" id="dragit">
      <div class="top-icon">
        <img src="/arrow.png" width="60px" class="darg-img-non" draggable="false">
      </div>
      <div class="signup-page-btn-box px-3">
        <h5 class="text-center mb-3">I would like to </h5>
        <button class="btn btn-primary btn-block btn-lg">Rent a Car, Coming Soon!</button>
        <a href="/users/sign_up" class="btn btn-primary btn-lg btn-block">Become a host, Rent out my car</a>
      </div>
    </div>
  </div>
</div>
<script>
  var draggable = $('#dragit');
  draggable.on('mousedown', function(e) {
    var dr = $(this).addClass("drag").css("cursor", "move");
    height = dr.outerHeight();
    width = dr.outerWidth();
    ypos = dr.offset().top + height - e.pageY,
      xpos = dr.offset().left + width - e.pageX;
    $(document.body).on('mousemove', function(e) {
      var itop = e.pageY + ypos - height;
      var ileft = e.pageX + xpos - width;
      if (dr.hasClass("drag")) {
        dr.offset({ top: itop, left: ileft });
      }
    }).on('mouseup', function(e) {
      dr.removeClass("drag");
    });
  });
</script>