<div class="container py-4">
  <h1 class="text-center">About Us</h1>
  <p>
    Tekkova is an online marketplace that facilitates the rental process of private car share between peers whom are either interested to rent out their own private car or customers who are looking to hire out a high end quality vehicle for a special occasion, different driving experience or simply travelling to different locations throughout the day without having to request multiple Uber or taxis.<br><br>
    At tekkova our main mission is to transform your vehicle from being an expensive Liability to an Asset where your vehicle pays for its own monthly repayments, registration, insurance, servicing, maintenance, day to day running cost and plus more.

  </p>
  <h4 class="text-center">
    Your help and support will give us the opportunity to assist more Car owners.
  </h4>
  <p>
    Please check our <a href="/listing_criteria">listing criteria</a> to find out and see whether your vehicle qualifies to be listed on our platform or view our <a href="/terms_and_conditions">Marketplace terms & conditions</a> policy for more information. 
  </p>
</div>