<div class="container my-4">
   <div class="col-lg-7 mx-auto">
      <h1 class="text-center">About Us</h1>
      <p>
        Tekkova is an online marketplace that facilitates the rental process of private car share<br> between peers whom are either interested to rent out their own private car or customers whom are looking to hire out a high end luxury quality vehicle for a special occasion, business meetings, tours,different driving experience or simply travelling to different <br>locations throughout the day without having to request multiple ride share or taxis.
        <br><br>
       At tekkova our main mission is to transform your vehicle from operating as an expensive <strong>commodity</strong> to an <strong>asset</strong> where your vehicle pays for its own monthly repayments,<br> registration, insurance, servicing, maintenance, day to day running cost and plus more.
      </p>
      <h4 class="text-center my-4">
       <center> Your help and support <br> will give us the opportunity to assist more Car owners.</center>
      </h4>
      <p>
        Please check our <a href="/listing_criteria">listing criteria</a> to find out and see whether your vehicle qualifies to be<br> listed on our platform or view our 
        <a href="/terms_and_conditions">Marketplace terms & conditions</a> policy for more<br> information. 
      </p>
      <img src="/About_us_page_image.png" class="img-fluid">
  
  </div>
</div>

