<div class="container my-4">
  <div class="col-lg-7 mx-auto">
    <h1 class="text-center mb-3">About Us</h1>
    <p class="text-justify">
      Tekkova is an online marketplace that facilitates the rental process of private car share between peers interested in renting out their own private car and customers looking to hire out a safe, high-end, luxury- quality vehicle for special occasions, business meetings, tours, different driving experiences, or simply travelling to different locations throughout the day without having to request multiple ride shares or taxis.
      <br><br>
      At Tekkova, our main mission is to transform your vehicle from operating as an expensive <strong>commodity</strong> to an <strong>asset</strong> where your vehicle pays for its own monthly repayments, registration, insurance, servicing, maintenance, day-to-day running costs, and more.
    </p>
    <h4 class="text-center my-4">
    <center>Your help and support will give us the opportunity to assist more car owners.</center>
    </h4>
    <p class="text-justify">
    Please check our <a href="/listing_criteria">listing criteria</a> to see if your vehicle qualifies to be listed on our platform, or view our <a href="/terms_and_conditions">Marketplace Terms & Conditions</a> policy for more information.
    </p>
    <img src="/About_us_page_image.png" class="img-fluid">
  </div>
</div>