<div class="container my-3">
    <h2 class="text-center mb-3">All Fees And Charges</h2>
    <table class="table table-striped" style="border:2px solid">
    <thead>
      <tr>
        <th style="width:600px;">Fees Type</th>
        <th style="width:270px;">Fee Amount</th>
        <th style="width:300px;">Admin Charges</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border:2px solid grey;">1/2 Fuel tank returned</td>
        <td style="border:2px solid grey;">$50</td>
        <td style="border:2px solid grey;">None</td>
      </tr>
      <tr>
        <td style="border:2px solid grey;">1/3 Fuel tank returned</td>
        <td style="border:2px solid grey;">$80</td>
        <td style="border:2px solid grey;">None</td>
      </tr>
      <tr>
        <td style="border:2px solid grey;">1 - 4 Hours late return</td>
        <td style="border:2px solid grey;">$30</td>
        <td style="border:2px solid grey;">$20</td>
      </tr>
      <tr>
        <td style="border:2px solid grey;">4 - 10 Hours late return</td>
        <td style="border:2px solid grey;">$60</td>
        <td style="border:2px solid grey;">$20</td>
      </tr>
      <tr>
        <td style="border:2px solid grey;">10 – 24 Hours late return</td>
        <td style="border:2px solid grey;">Full day booking amount</td>
        <td style="border:2px solid grey;">$30</td>
      </tr>
      <tr>
        <td style="border:2px solid grey;">Exterior Cleaning</td>
        <td style="border:2px solid grey;">$30</td>
        <td style="border:2px solid grey;">None</td>
      </tr>
      <tr>
        <td style="border:2px solid grey;">Interior General Cleaning</td>
        <td style="border:2px solid grey;">$30</td>
        <td style="border:2px solid grey;">None</td>
      </tr>
       <tr>
        <td style="border:2px solid grey;">Interior Smoke Cleaning</td>
        <td style="border:2px solid grey;">$100</td>
        <td style="border:2px solid grey;">$20</td>
      </tr>
       <tr>
        <td style="border:2px solid grey;">Pet Hair Cleaning</td>
        <td style="border:2px solid grey;">$30</td>
        <td style="border:2px solid grey;">None</td>
      </tr>
       <tr>
        <td style="border:2px solid grey;">Excess Milage per KM</td>
        <td style="border:2px solid grey;">$0.3</td>
        <td style="border:2px solid grey;">None</td>
      </tr>
       <tr>
        <td style="border:2px solid grey;">Extension request within 1-12 hours  before scheduled return</td>
        <td style="border:2px solid grey;">$30</td>
        <td style="border:2px solid grey;">None, Unless the vehicle has been booked on the scheduled return day by another traveller. $40 extension fee may apply.</td>
      </tr>
      <tr>
        <td style="border:2px solid grey;">Extension request within 12 - 24 hours  before scheduled return</td>
        <td style="border:2px solid grey;">None</td>
        <td style="border:2px solid grey;">None, Unless the vehicle has been booked on the scheduled return day by another traveller. $40 extension fee me apply.</td>
      </tr>
      <tr>
        <td style="border:2px solid grey;">All infringements, fines and unpaid tolls</td>
        <td style="border:2px solid grey;">Full Issued Amount</td>
        <td style="border:2px solid grey;">$20</td>
      </tr>
      <tr>
        <td style="border:2px solid grey;">Car Key Replcement</td>
        <td style="border:2px solid grey;">$400</td>
        <td style="border:2px solid grey;">$20</td>
      </tr>
    </tbody>
  </table>
</div>
