<% if current_user.sign_in_count <= 1 %>
    <%= render 'cars/congrats' %>
    <script>
        $(document).ready(function() {
    
            $('#myModal').modal('show')
        
        });
    </script>
<% end %>

<div id="banner" class="py-5">
    <div class="row my-5 py-5">
        <div class="col-md-12 py-5 my-5">
            <div class="py-5 my-5"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 text-center">
            <p class="text-center">Market value of your car</p>
            <div id="slider"></div>
            <p class="mt-5">
            <input type="text" id="amount" class="text-center range-text" readonly>
            <label for="amount"></label>
            </p>
        </div>
        <div class="col-md-6 text-center">
            <p class="text-center mb-4">Days per week your car is rented</p>
            <div id="slider2"></div>
            <p class="mt-5">
            <input type="text" id="amount2" class="text-center range-text" readonly>
           <label for="amount2"></label>
            </p>
             
        </div>
    </div>
</div>
    <p class="mt-5">
        <p class="text-center mb-4">You could earn</p>
        <input type="text" id="amountf" class="text-center range-text w-100" readonly>
        <label for="amountf"></label>
    </p>

    