<% if user_signed_in? and current_user.sign_in_count <= 1 %>
    <%= render 'cars/congrats' %>
<% end %>
<section id="banner" class="page-header custom-product">
	<div class="container-fluid section-banner">
		<div class="row">
			<div class="col-sm-12 py-2 text-center">
				<h1>Provide a car for every occasion</h3>
				<!--<h3 class="text-light">Have your car pay for itself </h3>-->
				<h3 class="text-light mb-4">Have your car pay for itself</h2>
				<a href="/how_it_works" class="btn btn-primary btn-lg mb-2">How TEKKOVA works</a><br>
				<a href="/listing_criteria" class="btn btn-primary btn-lg mb-4 mr-2">Listing Criteria</a>
				<a href="/cars/new" class="btn btn-primary btn-lg mb-4 mr-2 pl-4 pr-4">List your car</a>
				<p class="lead">Become one of our car hosts by the end of March 2019 and we will waive our fees for your first initial 5 bookings.</p>
				<p class="text-light lead mb-5 font-weight-bold">List your car & start earning soon</p>
			</div>
		
		</div>
	</div>
</section>


<section class="estimate text-center">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading-primary">
                    Is it worth it?
                </h1>
                <h3>
                    How much can I earn renting out my car?
                </h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h5 class="mb-4">Agreed value of your car</h5>
                <div id="slider"></div>
                <p class="mt-5">
                <input type="text" id="amount" class="text-center range-text" readonly>
                <label for="amount"></label>
                </p>
            </div>
            <div class="col-md-6">
                <h5 class="mb-4">Days per week your car is hired</h5>
                <div id="slider2"></div>
                <p class="mt-5">
                <input type="text" id="amount2" class="text-center lead range-text" readonly>
               <label for="amount2"></label>
                </p>
                 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="mt-5">
            <h4 class="text-center mb-4">You could potentially earn</h4>
            <input type="text" id="amountf" class="text-center range-text-earn w-100" readonly>
            <label for="amountf"></label>
            <h5>Annually</h5>
            <p>Please note that the above potential earning is subjected to 20% Tekkova fee deduction, Tekkova gives you the option to choose what days of the week your car is available weekly from 1 to 7 days per week to be rented out however we encourage our hosts to select availability days from 3 to 7 days per week to increase chances of receiving bookings thus increasing their potential earnings.</p>
        </p>
            </div>
        </div>
    </div>
</section>

<section class="section section-default mb-0 pb-0">
	<div class="container">
	    
		<div class="row">
			<div class="col-lg-4">
			    <h2 class="heading-primary mb-4">My Earnings</h2>
				<div class="feature-box feature-box-style-2 reverse mb-5 appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
					<div class="feature-box-info">
						<h4 class="mb-2">Renting Price</h4>
						<p class="mb-4">Tekkova takes into consideration your insurance agreed value due to certain cars having more extras in terms of features than others. Demand of certain models will either increase or decrease potential earnings.</p>
					</div>
				</div>
					<div class="feature-box feature-box-style-2 mb-5 appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
					<div class="feature-box-info">
						<h4 class="mb-2">My Payment</h4>
						<p class="mb-4">Tekkova pays you fortnightly via direct transfer to your nominated bank account or credit card. Tekkova fee of 20% applies for all successful bookings and will be deducted however we have waived our first 5 initial booking fees for car owners who list their vehicle with us by the end of March 2019.</p>
					</div>
				</div>
				
			</div>
			<div class="col-lg-4 mt-md-5 pt-md-5 pb-5">
				<img src="logo-t.png" class="img-fluid mockup-landing-page appear-animation" alt="Porto" data-appear-animation="zoomIn" data-appear-animation-delay="300">
			</div>
			<div class="col-lg-4">
			    <h2 class="heading-primary mb-4">How am I covered?</h2>
			    <div class="feature-box feature-box-style-2 reverse mb-5 appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
					<div class="feature-box-info">
						<h4 class="mb-2">Your car is protected</h4>
						<p class="mb-4">We are currently working with our insurance partners to have you covered against the theft, exterior or interior damage. We will not operate our services & enable bookings unless you are covered before hand.</p>
					</div>
				</div>
				
				<div class="feature-box feature-box-style-2 mb-5 appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
					<div class="feature-box-info">
						<h4 class="mb-2">You are in control</h4>
						<p class="mb-4">Once you have accepted a booking request you will then be able to visit hirers profile & see relevant information such as their personal photo, driver’s licence validity and Rating.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<!--<= render 'cars/policies_popup2' %>-->