<div class="container py-3">

<center>
    <img src="/rsz_how_it_works_2.png" class="img-fluid">
</center>
</div>
<div class="how-it-work-bg py-5">
<div class="container">
  <div class="col-md-8 mx-auto">
  <div class="row">
    <div class="col-2 col-md-1"><img src="/a_work1.png" class="img-fluid"></div>
      <div class="col-10 col-md-11">
          <p class="mt-2">
              
              Upon pick up the traveller will need to <strong>start</strong> the <strong><u>handover check list process</u></strong> by answering the <strong><u>10</u></strong> questions presented under &lsquo;<strong>My handover</strong>&rsquo; in their tekkova profile. The questions will take in to consideration the overall <strong>mechanical condition of the car</strong>, <strong>interior &amp; exterior cleanliness</strong>, <strong>paint condition, visible body damage or blemishes</strong>, <strong>fuel tank level</strong>, <strong>odometer reading</strong>, etc.
            </p>
        <p>
        Once <strong>submitted</strong>, the <strong>answers</strong> to the <strong><u>10</u></strong> questions will appear right away under &lsquo;<strong>My handover</strong>&rsquo; in the <strong>host&rsquo;s</strong> tekkova profile. Once the traveller <strong>submits</strong> their answer and it is <strong>confirmed</strong> by the host, the first stage of handover is complete.
        </p>
          <p>
              The car may <strong>not be driven off</strong> unless the host agrees and <strong>confirms</strong> the answers to the checklist. Then the host and traveller both in their tekkova profile under &lsquo;<strong>My bookings</strong>&rsquo; must confirm <strong>picked up</strong>. At this stage the car can be driven off.
          </p> 
           <img src="/Handover_A _2.png" class="img-fluid mb-4">
    </div>
</div>
</div>

<div class="col-md-8 mx-auto">
<div class="row">
  <div class="col-2 col-md-1">
    <img src="/b_work1.png" class="mb-2 img-fluid">
  </div>
  <div class="col-10 col-md-11">
<p class="mt-2">
   After the trip when the car has been returned, both the host and traveller must confirm <strong>Returned </strong>under &lsquo;My bookings&rsquo;. This time the Host must <strong>start</strong> the <strong><u>handover checklist process</u></strong> and answer the <strong><u>10</u></strong> questions and the answers will appear on traveller&rsquo;s tekkova profile under &lsquo;<strong>My handover</strong>&rsquo;. Once it is <strong>submitted</strong> by the host and <strong>confirmed</strong> by the traveller, this will finalise the <strong>Handover process</strong>.
   </p>
   <center> <img src="/Handover_B _2.png" class="img-fluid mb-4"></center>
    
    
  </div>
</div>
</div>
 
</div>
</div>