<div class="container py-3">

<center>
    <img src="/rsz_how_it_works_2 (1).png" class="img-fluid">
</center>
</div>
<div class="how-it-work-bg py-5">
<div class="container">
  <div class="col-md-8 mx-auto">
  <div class="row">
    <div class="col-2 col-md-1"><img src="/a_work1.png" class="img-fluid"></div>
      <div class="col-10 col-md-11">
          <p class="mt-2">
            Upon pick-up, the traveller starts the handover checklist process by 
            answering the 10 questions under ‘My handover’ in their Tekkova profile. 
            The questions take into consideration factors like the overall mechanical 
            condition of the car, interior and exterior cleanliness, paint condition, 
            visible body damage or blemishes, fuel tank level, and odometer reading.
          </p>
        <p>
          Once submitted, the answers will appear right away under ‘My handover’ 
          in the host’s Tekkova profile. The responses are then confirmed by the 
          host, and the first stage of handover is complete.
        </p>
        <p>
          The car may not be driven off unless the host agrees and confirms the 
          answers to the checklist. Then both the host and traveller must confirm 
          pickup in their Tekkova profile under ‘My bookings’. At this stage, the car 
          can be driven off.
        </p> 
           <img src="/Handover_A _2.png" class="img-fluid mb-4">
    </div>
</div>
</div>

<div class="col-md-8 mx-auto">
<div class="row">
  <div class="col-2 col-md-1">
    <img src="/b_work1.png" class="mb-2 img-fluid">
  </div>
  <div class="col-10 col-md-11">
  <p class="mt-2">
    After the trip, when the car has been returned, both the host and traveller 
    must confirm ‘Returned’ under ‘My bookings’. This time, the host must 
    start the handover checklist process and answer the 10 questions; the 
    answers will appear on the traveller’s Tekkova profile under ‘My 
    handover’. Once it is submitted by the host and confirmed by the 
    traveller, this will finalise the handover process.
   </p>
   <center> <img src="/Handover_B _2.png" class="img-fluid mb-4"></center>
    
    
  </div>
</div>
</div>
 
</div>
</div>