<div class="container-fluid p-0">
        <div class="container-fluid my-5">
  <div class="row">
  	 <div class="loginmodal-container loginmodal-container-new">
  			<div class="loginmodal-container-2">

                <center><h2 class="my-3">Car Listing Criteria</h2></center>
                
                
  			<!--<h3 class="mt-3">Listing Criteria</h3>-->
          <form class="new_car" id="new_car" action="/cars" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="880msM3kAk56Otp7Y6D9+JWuNwxNnMIBVVB677OndWSL1LXqupLC5uMCeYXMSYFWXxPJOk28VBPPvJWxqewHAg==">
            
              <p>Before listing a car, Please ensure that your vehicle meets the following criteria</p>
              <i class="fas fa-check criteria-icon"></i>
              <span>2013-2019 model year</span> <br>
              
              <i class="fas fa-check criteria-icon"></i>
              <span>Less than 150,000 in kms</span> <br>
              
              <i class="fas fa-check criteria-icon"></i>
              <span>Registered</span> <br>
              
              <i class="fas fa-check criteria-icon"></i>
              <span>Road Worthy</span> <br>
              
              <i class="fas fa-check criteria-icon"></i>
              <span>No write off</span> <br>
              
              
              <i class="fas fa-check criteria-icon"></i>
              <span>Well maintained and serviced as scheduled and recommended by the manafacturer </span><br><br>
              <!--<input value="0" type="hidden" name="car[step]" id="car_step">-->
              <!--<input value="draft" type="hidden" name="car[status]" id="car_status">-->
              <div class="row">
                <div class="col-12">
                 <center> <a class="btn btn-primary" href="/cars/new">List your car</a></center>
                  
                
              </div>
</form>          
                
                
            </div>
  		</div> 
    </div>
</div>
                

      </div>