<div class="container my-3">
    <h1>NON-DISCRIMINATION POLICY</h1>

<p>We strongly believe in our community as we consider them as the strength of our business&mdash;without you, we wouldn&rsquo;t be in existence or have a business&mdash;so we depend on amazing people we have to do appropriate things at all times, and to treat and interact with each other and their property with utmost respect, dignity, and compassion. Our shared commitment to upholding these values helps us to create a community in which every member feel welcome on our platform notwithstanding of the way they look, who they love, what they believe, how they self-identify, where they&rsquo;re from, or when they were born. Discrimination of any form is not tolerated or accepted in the Tekkova community.</p>

<p>RACE, COLOUR, ETHNICITY, RELIGION, AGE, NATIONAL ORIGIN, ANCESTRY, SEXUAL ORIENTATION, GENDER, MILITARY SERVICE, DISABILITY, GENDER IDENTITY, OR MARITAL/PARENTAL STATUS</p>
<p>We request that Tekkova members may not</p>
<ul>
<li>Make any statement that discourages or shows a preference for or against any guest on account of race, colour, ethnicity, religion, age, national origin, ancestry, sexual orientation, gender, military service, disability, gender identity, or marital/parental status.</li>
<li>Tekkova hosts may not</li>
<li>Decline or cancel reservations based on race, colour, ethnicity, religion, age, national origin, ancestry, sexual orientation, gender, military service, disability, gender identity, or marital/parental status.</li>
<li>Impose any different terms or conditions based on race, colour, ethnicity, religion, age, national origin, ancestry, sexual orientation, gender, military service, disability, gender identity, or marital/parental status.</li>
<li>Post any listing that discourages or indicates a preference for or against any guest on account of race, colour, ethnicity, religion, age, national origin, ancestry, sexual orientation, gender, military service, disability, gender identity, or marital/parental status.</li>
</ul>
<h4>GENDER IDENTITY</h4>
<p>We request that Tekkova hosts may contact customer support if the gender presentation of a guest does not seem to match their license.</p>


<h4>DISABILITY</h4>
<p>We request that Tekkova hosts may not</p>
<ul>
<li>Create assumptions about the guest&rsquo;s ability to operate their vehicle.</li>
<li>Decline or cancel a trip based on a guest&rsquo;s actual or perceived disability.</li>
<li>Interrogate the existence or severity of a guest&rsquo;s disability, or the means used to accommodate a disability. If a potential guest raises his or her disability, a host should discuss whether their vehicle meets the potential guest&rsquo;s needs.</li>
<li>Post any listing or make any statement that discourages or shows a preference for or against any guest who may have a disability.</li>
<li>Refuse to communicate with a guest with a hearing disability via their preferred mode of communication.</li>
</ul>
<p>We request that Tekkova hosts may</p>

<p>Provide factual information about the accessibility features of their listing (i.e. automatic doors, no storage space for a wheelchair, inaccessible car location, etc.).</p>

<h4>FAMILIAL STATUS</h4>
<p>We request that Tekkova hosts may not</p>

<p>Decline, cancel, or impose any different terms or conditions for a reservation based on familial status (having a child under the age of eighteen, being pregnant, or in the process of adopting or gaining custody of a child).</p>

<p>Tekkova hosts may</p>

<ul>
<li>State factually correct information about their listing&rsquo;s features (or lack of them) that could make the listing unsafe or unsuitable for families with children or infants.</li>
<li>Contact customer support if both guest and host are unable to offer proper accommodations for a guest&rsquo;s family needs. For example, a guest arrives to pick up a car with a child who is required to have a car seat without one.</li>
</ul>

<h4>PERSONAL PREFERENCE</h4>
<p>We recommend that Tekkova hosts may</p>

<p>Decline or cancel reservations based on other factors excluding race, colour, ethnicity, religion, age, national origin, ancestry, sexual orientation, gender, military service, disability, gender identity, or marital/parental status, except as noted above. For instance, a host can decline a guest who indicates a desire to tow a boat or film a commercial with the vehicle.</p>
<h4>COUNTRIES OUTSIDE OF AUSTRALIA, UNITED STATES AND EUROPEAN UNION</h4>
<p>Tekkova hosts aren&rsquo;t required to comply with the above policies if they breach local laws.</p>

<p>WHAT HAPPENS WHEN A MEMBER OF THE TEKKOVA COMMUNITY DOESN&rsquo;T COMPLY WITH THESE POLICIES?</p>
<p>Tekkova will review reports of discrimination on a case by case basis, and impose consequences on community members who violate our non-discrimination policies, which may or may not include removal from the Tekkova marketplace.</p>

<p>As the Tekkova community grows, we will continue to make sure that our policies continue to make everyone feel welcome and respected in all of their interactions with Tekkova community members.</p>

<h4>HOW TO REPORT DISCRIMINATION TO TEKKOVA</h4>
<p>Tekkova handles any reports of discrimination with utmost seriousness.</p>

<p>If you believe that you have experienced unlawful discrimination outlined in our non-discrimination policy on the Tekkova marketplace, please report it using our support request form. Please provide specific details and the name of the community member involved and reservation number.</p>

<p>We will investigate reports of discrimination on a case by case basis and we may follow up with you for any additional documentation. If we discover that a community member has violated our non-discrimination policy, we will exact consequences which may or may not involve removal from the Tekkova marketplace.</p>
</div>