<div class="pt-4 pb-4">
  <h2 class="heading">Tekkova Policies</h2>
  <div class="w-100">
    <img src="/policy_page.jpg" class="img-fluid">
  </div>
</div>
<div class="container pb-4">
  <div class="row">
    <div class="col-md-12">
      <p>At Tekkova we present all the policies that we have in place for our users for transparency & your peace of mind. Hosts will also be able to signup as a car hirer to familarise themselves with our car hiring process & a different experience.</p>
    </div>
  </div>
  <div class="row pt-4 pb-2">
    <div class="col-lg-4 mb-2 col-md-6">
      <a  href="/terms_and_conditions" class="btn btn-primary">Marketplace Terms & Conditions</a>
    </div>
    <div class="col-lg-4 mb-2 col-md-6">
      <a  href="/privacy_policy" class="btn btn-primary">Privacy Policy</a>
    </div>
    <div class="col-lg-4 mb-2 col-md-6">
      <a  href="/nd_policy" class="btn btn-primary">Non-Discrimination Policy</a>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-lg-4 mb-2 col-md-6">
      <a  href="/fee_and_charges" class="btn btn-primary">All Fees & Charges</a>
    </div>
    <div class="col-lg-4 mb-2 col-md-6">
      <a href="/engine_policy"class="btn btn-primary">Engine, transmission, clutch & tyre Policy</a>
    </div>
    <div class="col-lg-4 mb-2 col-md-6">
      <a href="/cleaning_policy" class="btn btn-primary">Cleaning Policy</a>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-lg-4 mb-2 col-md-6">
      <a href="/feul_policy" class="btn btn-primary">Fuel Policy</a>
    </div>
    <div class="col-lg-4 mb-2 col-md-6">
      <a href="/late_return_policy" class="btn btn-primary">Late Return & Extension Policy</a>
    </div>
    <div class="col-lg-4 mb-2 col-md-6">
      <a href="/infringements_policy" class="btn btn-primary plicy-btn-mob">Infringements, key Replacement  and Excess  Mileage Policy</a>
    </div>
  </div>
</div>