<div class="container mt-3">
  <h2 class="py-4 text-center">PRIVACY POLICY</h2>
  <div class="text-right">
    ACN: <strong>635 595 961</strong>
  </div>
  <h4>Background</h4>
  <ul>
    <li>It is with a great commitment that we protect the Personal Information we collect. As compliance with our obligations under the Privacy Act 1988. This privacy policy contains information on how we collect, use, process, store, and disclose Personal Information.</li>
    <li>This policy covers your access or use of our website and applications (&ldquo;Platform&rdquo;), any communication with us or other users on any device (altogether &ldquo;Services&rdquo;), or whenever you otherwise send us any information. Under this policy, we serve mainly as the data controller.</li>
    <li>TEKKOVA PTY LTD or Tekkova (hereinafter &ldquo;we&rdquo;, &ldquo;our&rdquo;, us) runs a peer-to-peer online community designed to connect car owners willing to rent out a car or cars to drivers in search of a car to rent privately. To provide our Services effectively, we collect, store and process Personal Information.</li>
  </ul>
  <h4>Definitions of terms</h4>
  <p>For this policy:</p>
  <ul>
    <li>Owner represents anyone who owns a vehicle.</li>
    <li>Driver represents anyone seeking to or renting a vehicle.</li>
    <li>Services entails the peer-to-peer online vehicle hiring services as well as any other additional services we offer to Owners and Drivers.</li>
    <li>Complementary Service entails the service offered by a third party in association with, or as a complement to, our own Services. For instance Vehicle fleet insurance provided by our insurance provider.</li>
    <li>Website means <a href="http://www.tekkova.com">tekkova.com</a> or <a href="http://www.tekkova.com.au">www.tekkova.com.au</a> and forms of social media where you post comments or we connect and interact with you either directly or indirectly.</li>
  </ul>
  <h4>Information We Collect</h4>
  <p>We collect three groups of information. This includes the information you provide us; information automatically collected from your access to or use of the Services; and information from third-party sources.</p>
  <h4>Information you provide us</h4>
  <ul>
    <li><strong>Account information</strong></li>
  </ul>
  <p>During registration for an account with us, we collect certain identifying information, which includes your name and email address.</p>
  <ul>
    <li><strong>Profile information</strong></li>
  </ul>
  <p>We may also request for supplementary profile information in order for you to use certain features of our Service. This supplementary information may include phone numbers, street addresses, driver&rsquo;s licence number and issuing country and/or state, and date of birth. Some portion of your profile (for instance, your profile photos, employer, city, school and brief biography) form your public profile page and may be publicly visible to other users.</p>
  <ul>
    <li><strong>Verification information</strong></li>
  </ul>
  <p>At Tekkova, security and confidentiality is held in a high regard and as a result we may request for a photograph and/or other demographic information, including a scanned copy or photographed of a driver&rsquo;s licence, passport, or credit/debit card, last four digits of your Social Security number, social insurance number, social media account information, driver&rsquo;s/motor vehicle record, insurance information, and other necessary information to enable proper identification. If you are looking to rent out a vehicle on our platform your driver&rsquo;s licence details may be used by either Tekkova or our hosts (Car owner) to check of its validity or past driving history. If we request that you hold back certain information at the time you provide us with personally identifiable information (including concealing or redacting all but the last four digits of your payment card number), please kindly do so.</p>
  <ul>
    <li><strong>Payment information</strong></li>
  </ul>
  <p>We collect your financial information (such as your bank account or payment card numbers) for the sake of a potential or actual transaction. This information may be stored by one or more third-party payment services providers or digital payments companies residing inside or outside of your country of residence as well as outside the European Economic Area (EEA).</p>
  <ul>
    <li><strong>Trip information</strong></li>
  </ul>
  <p>We collect information you provide regarding a trip. Such information includes a vehicle listing, driver&rsquo;s licence, exact trip time and duration, personal details such as date of birth and residential address, banking details, availability dates and time, ratings, comments and uploaded trip photos.</p>
  <ul>
    <li><strong>Communications with Us and Other users</strong></li>
  </ul>
  <p>When you communicate with us, either through email, phone or chat, or utilize the Services in any form of communication with other users, we may collect information about your communication and any information you decide to make available.</p>
  <h4>Information we collect automatically whenever you use or access our Services</h4>
  <ul>
    <li><strong>Usage data</strong></li>
  </ul>
  <p>We collect certain information whenever you interact with the Platform either through our website or applications. Such information include the pages or other content you view, your searches, bookings you have made and other activities on the Platform.</p>
  <ul>
    <li><strong>Location information</strong></li>
  </ul>
  <p>Through your use certain features of the Platform, such as opting-in to use our Location Sharing feature, we may collect certain information about your location (like your IP address) or more precise location information (like your more specific location information through your mobile device). Please note that most mobile devices permit you to regulate or disable the use of location services by any application on your mobile device in the device&rsquo;s settings option.</p>
  <ul>
    <li><strong>Log data</strong></li>
  </ul>
  <p>Whether or not you have registered for an account or logged in, we collect automatically log information whenever you use the Platform. Such information includes without limitation information about how you&rsquo;ve used the Platform, frequency of visits, IP address, duration of stay, hardware and software information, device event information (like crashes, browser type) and the page(s) you&rsquo;ve viewed or interacted with before (or after) you&rsquo;ve accessed or used the Platform.</p>
  <ul>
    <li><strong>Trip information</strong></li>
  </ul>
  <p>We collect information regarding your transactions on the Platform. Such information include the date and time, amounts charged and other associated trip information.</p>
  <ul>
    <li><strong>Cookies and similar technology</strong></li>
  </ul>
  <p>This website uses cookies to enhance the users experience while visiting the site. Where applicable, this site uses a cookie control system that allows the user on their first visit to the site to allow or disallow the use of cookies on their computer/device. This complies with new legislation demands for sites to get explicit consent from users before leaving behind or reading files such as cookies on a user&rsquo;s computer/device. The cookies are used to deliver Google Analytics service, and are used to store information, such as what time your current visit happened, whether you have been to the site before, and what site referred you to the web page. These cookies contain no personally identifiable information, but they will use your computer&rsquo;s IP address to know from where in the world you are accessing the Internet. Google stores the information collected by these cookies on servers in the United States. Google may transfer this information to third-parties where compelled to do so by law, or where such third parties process the information on Google&rsquo;s behalf. If you want to restrict the use of cookies, you can regulate this in your Internet browser.</p>
  <h4>Information we collect from third-party sources</h4>
  <ul>
    <li><strong>Third party services</strong></li>
  </ul>
  <p>If you decide to log in to our Services via social media sites (like Facebook, Google), the third-party service may send us certain information including your registration and profile details from that service. The information we may get differs and is regulated by that site. By linking an account managed by a third party with your account on the Platform as well as giving us the permission to access to the third-party information, you accept that we may collect, store, and process this information in line with this Privacy Policy. In no way shall we be held responsible for how those third parties use, transfer and distribute your information. Kindly refer to those third parties&rsquo; privacy policies for a better understanding of how they use and share your information.</p>
  <ul>
    <li><strong>In-vehicle devices</strong></li>
  </ul>
  <p>If your vehicle, or a vehicle you book via the Services, contains an in-car device installed by the host or regulated by a third-party service, such a host or service may record information about your use of such a vehicle. Although they may disclose such information to us, the host and third-party service will be entirely responsible to you for its use of such information.</p>
  <ul>
    <li><strong>Background information</strong></li>
  </ul>
  <p>To the level authorized by appropriate and applicable laws of the state or federal, we may collect reports from public records of criminal convictions or registered sex offenders in return for creating a safe online marketplace. We may use certain information you have provided (for instance, your full name and date of birth, Driver&rsquo;s licence details) to acquire such reports. An offense committed either at the time, during or prior to registration of our services may result in the termination of the account under the name of the account holder if Tekkova deems the offence as a red safety flag to our online marketplace.</p>
  <ul>
    <li><strong>Other sources</strong></li>
  </ul>
  <p>To the level authorized by appropriate and applicable laws, we may collect additional information about you. Such information include demographic data, fraud detection information or data from credit bureaus from third-party service providers and/or partners and add it to the information we have collected from or about you.</p>
  <h4>How We Use the Information We Collect</h4>
  <p>We use, store and process your information in order to provide and enhance our Services as well as to enable a secure, safe and trusted experience when interacting with the Platform or using the Services. We may use your information for the following:</p>
  <ul>
    <li>for service provision and enhancement.</li>
    <li>to enable a secure, safe and trusted experience.</li>
    <li>to give you access to use our Services.</li>
    <li>to enable the processing of transactions and send notices about your transactions.</li>
    <li>to offer customer support.</li>
    <li>to send you service, support and administrative messages, reminders, updates, technical notices, security alerts, and information requested by you and contact you at any telephone number, by placing a voice call or through text (SMS) or email messaging, in line with our Terms of Service.</li>
    <li>to assess the performance of the Services and enhance our content and layout.</li>
    <li>to enable you to communicate with other users, including by sending them messages or other information during the booking process.</li>
    <li>to verify your identity or authenticate information provided by you, including during account creation and password reset processes.</li>
    <li>to settle disputes, collect fees, and troubleshoot problems.</li>
    <li>to assess your likelihood of getting into an accident or of making an insurance claim, such by checking your auto insurance score.</li>
    <li>to detect, avert, and/or remediate fraud, abuse, security incidents or other potentially harmful, prohibited or illegal activities.</li>
    <li>to conduct investigations and risk assessments.</li>
    <li>if you give us or our service providers any information regarding other people in line with the Services, we may use and store this information to ease your referral invitations; send your requests for reviews, for fraud detection and inhibition and for any purpose you permit at the time of collection.</li>
  </ul>
  <p>Regarding this, we may carry out any or all of the preceding with or without further notifying you to the extent allowed by appropriate and applicable law:</p>
  <ul>
    <li>provide and enhance our Services.</li>
    <li>send targeted marketing, service update notices, and promotional offers in line with your communication preferences.</li>
    <li>implement creditworthiness only if needed for certain makes and models of a vehicle and solvency checks, assess information for correctness, and validate it with third parties.</li>
    <li>manage referral programs, rewards, contests, surveys, or other promotional activities or sponsored events.</li>
  </ul>
  <p>We store and use your information as long as it is reasonably required and relevant for our operations.</p>
  <h1>Disclosure</h1>
  <h4>Based on Consent</h4>
  <p>You may request or permit us to share your information as stated at the time of sharing, including when you give us permission to send to a third party marketing partner.</p>
  <h4>Profiles, listings and other public information</h4>
  <ul>
    <li>Your public listing page will always contain some elementary information, which includes your user ID/name related to your account, your public profile photo, and for hosts, the city where your car is located, your listing description, your calendar availability, transaction-related information to enable our community to assess your reliability and responsiveness, and reviews/feedback. Tekkova may send a copy of traveller&rsquo;s driver&rsquo;s licence to hosts whom travellers send booking request to for verification and validity reasons as our commitment of creating a safe marketplce.</li>
    <li>Your public listing page may also contain aggregate demand information (like the number of page views over a period) and information about your cancellations.</li>
    <li>Our Services may also show the approximate geographic pick-up location on a map of the owner&rsquo;s vehicle.</li>
    <li>Our Services permit your public profile and public listing pages to be visible in search engines, in which case your public profile and public Listing pages may be indexed by search engines and may be published as search results.</li>
  </ul>
  <h4>Sharing between hosts and guests</h4>
  <ul>
    <li>We help car owners to offer and share their vehicles with anyone searching for a vehicle to rent.</li>
    <li>If you agree to a booking via the Services, we may provide your information to the other party in that transaction as reasonably required to enable the transaction. For instance, we may provide your mobile phone number and/or driver&rsquo;s licence copy or information for communication or/and your photograph for identification.</li>
    <li>We will provide the address of the vehicle and/or the proposed delivery location.</li>
    <li>We may also share user-uploaded &ldquo;Trip Photos&rdquo; with captions with the other party included in the reservation if that feature is selected.</li>
    <li>Our users involved in a booking with you may send you a text message in order to confirm pickup or delivery location. Standard telephone minute and text and data charges may be applicable.</li>
  </ul>
  <h4>Service providers</h4>
  <ul>
    <li>We may share Information with vendors and service providers who work with us regarding the processing of payments, operation of our Services and customer support functions as well as who need access to such information to execute their work for us.</li>
    <li>The service provider, in some cases, may be directly collecting the information from you on our behalf.</li>
    <li>These service providers may reside inside or outside your country of residence, as well as outside the EEA.</li>
    <li>For hosts who have chosen to use our photography program, your contact information will be shared with the photographer sent to shoot your vehicle.</li>
    <li>These providers have limited access to your information to accomplish these tasks on our behalf and are contractually bound to use it in line with this privacy policy.</li>
  </ul>
  <h4>Aggregated data</h4>
  <ul>
    <li>Aggregate data assists us in understanding trends and our users&rsquo; needs so that we can come up with new and better features or otherwise tailor our Services based on our users&rsquo; needs.</li>
    <li>We may pile up and store aggregate information about the use of the Services. That is, information about how you use a service may be acquired and pooled together with information about how others use the same service.</li>
    <li>We may share aggregate demographic information with advertisers and partners.</li>
    <li>In no way does this policy hamper or limit our collection and use of aggregate information that does not identify any individual.</li>
  </ul>
  <h4>Corporate family</h4>
  <ul>
    <li>We may disclose your information to other members of the corporate family or to third parties, who may or may not be in the EEA. They include our insurance and claims providers.</li>
    <li>This may be for certain necessary reasons as applicable under law, including laws outside your country of residence. The reasons include to provide insurance and claims services; to comply with legal process; to respond to requests from public and government authorities including public and government authorities outside your country of residence; to implement our Terms of Service and related Policies; to protect our operations or those of any of our affiliates or users; to protect our rights, privacy, safety, or property, and/or that of our affiliates, you, or others; and to enable us to pursue available remedies or limit the damages that we or our users may sustain.
    </li>
  </ul>
  <h1>Your preferences and choices</h1>
  <h4>Communication preferences</h4>
  <p>You can manage the means by which we may contact you about your account, your booking and listing activities, promotions, and announcements in the Notifications section within your account.</p>
  <h4>Correct and update</h4>
  <p>You can review, rectify, update, and edit certain information that has been previously provided to us by you at any time by logging in to your account and reviewing your account settings and profile. You can also access or request a correction of your information by contacting us through our contact us page. For the sake of your protection, we may have to authenticate your identity before going ahead with your request.</p>
  <h4>Account closure</h4>
  <p>If you desire to close your account and request deletion of your personal information, kindly send an email through our contact us page or delete your account via the platform under &lsquo;General &amp; Setting&rsquo; of your profile or account.</p>
  <p>Note that we may be unable to delete completely certain information for certain reasons, such as</p>
  <ul>
    <li>to comply with applicable laws.</li>
    <li>to identify or avert fraud.</li>
    <li>to collect any fees owed.</li>
    <li>to settle disputes.</li>
    <li>to assist with or process claims.</li>
    <li>to troubleshoot problems.</li>
    <li>to assist with any investigation.</li>
    <li>to comply with audits and investigation.</li>
    <li>to implement our Terms of Service and Policies and take other actions reasonably necessary, permitted, or required by applicable law.</li>
  </ul>
  <h4>Access</h4>
  <p>You may request a copy of your personal information provided to us by visiting your account page. We will send a copy of the personal information to the email address you have provided us if you request. We may request proof of identification or re-authentication to carry out your access request.</p>
  <h4>For any complaint</h4>
  <p>In line with applicable and appropriate law, you have the right to make a complaint with your local data protection authority or the European Data Protection Supervisor.</p>
  <h4>Ensuring Security</h4>
  <p>Huge efforts have been made to implement reasonable security measures in order to protect information against unauthorized access, destruction, or modification while it is under our control. Nevertheless, no method of transmission over the Internet, and no method of storing information, can be 100% secure. Therefore, we cannot fully guarantee the absolute security of your transmissions to us and of your information that we store.</p>
  <h4>Vehicle tracking</h4>
  <p>GPS tracking or other electronic tools may be installed to a rental vehicle to enable the tracking or locating of the vehicle.</p>
  <h4>Merger and change of ownership</h4>
  <p>If the event of a merger or change of ownership, we may share information with them in line with our privacy standards and applicable law.</p>
  <!-- <h4>Cross-border transfer</h4>
  <p>The Services are managed by us from Western Australia, and are not projected to bind us to the laws or jurisdiction of any state, country, or territory other than that of Australia. Your information and pattern of use of the platform may be used, stored and processed in any country where <strong>our facilities</strong> are located or in which we employ service providers. We may do this for research on improving our services only and may not be used in exchange for commercial profit. By using the Services, you agree to the transfer of information to future countries that we may operate in outside of Australia.</p> -->
  <h4>Sensitive information</h4>
  <p>We request that you don&rsquo;t send us nor disclose any sensitive information except expressly requested. Such sensitive information include social security numbers, social insurance numbers, passports, information regarding racial or ethnic origin, political opinions, religion, trade union membership or other beliefs, health, biometrics, or genetic characteristics.</p>
  <h4>Children&rsquo;s privacy</h4>
  <p>Our website is a general audience website, and our Services are not designed for anyone below the age of 21. We do not intend to or knowingly collect information from users below the age of 21. If a child has already provided us with information, his or her parent or guardian may contact us to delete this information or close the account created by such child.</p>
  <h4>Third party privacy practices</h4>
  <p>This Privacy Policy covers only the use and disclosure of information acquired by us, and not by any third party. Therefore, we are not responsible and will not be held responsible for, the privacy, information, or other practices of any third parties, including any third party operating any site or service to which the Services link. The inclusion of a link on the Services does not suggest endorsement of the linked site or service by us or by our affiliates. If you disclose your information to others, or if you are directed to a third party website, their privacy notices and practices will apply.</p>
  <h4>Signed in</h4>
  <ul>
    <li>If you sign in to our Platform using an email address and password, your session will expire after 30 days except you log out. However, if you sign in via a social network login such as Facebook or Google, you will stay logged on/signed in until you sign out of your account or clear out your Cookies.</li>
    <li>If you are using a public or shared computer, always ensure you sign out and/or clear your Cookies whenever you are done using our Platform so as to protect your account and your information. If you do not sign out, you or any other user of the computer/browser you signed in on will be able to view and access your account, including your social media accounts.</li>
  </ul>
  <h4>Changes to this privacy policy</h4>
  <p>We may change, update or modify this Privacy Policy. Any changes, updates or modifications to this Privacy Policy will become effective whenever we post the revised Privacy Policy on the Services. Your use of the Services after these changes signifies that you accept the revised Privacy Policy. If you don&rsquo;t accept the changes, you can contact us to close your account and you will only be bound by the previous version of the Privacy Policy.</p>
  <h4>Contacting Us</h4>
  <p>We open to any questions and comments about privacy, and what we do. Please feel free to contact us anytime through our Contact Us page.</p>
  <p>Last updated on 01/01/2022</p>
</div>