<!DOCTYPE html>
<html>
<head>
	<style>
@media only screen and (min-width: 768px) {
	.mail-box {
        width: 38% !important;
}
}
a .btn-account{
    color: #fff !important;
}
    .mail-box {
        width: 80%;
        -moz-box-shadow: 0 0 5px #888;
       -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
        padding: 20px;
        display: block;
        margin: 0 auto;
        background: #fff;
    }
    .btn-account {
    	
    background-color: #21a5D6;
    border-color: #21a5D6 #21a5D6 #0088cc;
    color: #ffffff;
    padding: 13px 10px 13px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
        font-size: 16px;
    font-weight: bold;

}
.whole-body {
    background: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 30px;
}
</style>
</head>
<body class="whole-body">
<div class="mail-box">
    <center><img src="http://tekkova.com/logo-t.png" width="200" height="100"></center>
    <h3 style="text-align: center">Welcome to Tekkova</h3>
    <hr>
    <p>Dear <%= @recepient.name %>,</p>
    <p>Team Tekkova welcomes you. Hire a car for every occassion or List your car and start earning today. </p><br/>
    <center><a class="btn-account" href = "http://tekkova.herokuapp.com/">Go to your account</a></center><br/>

<p>
    Best wishes, <br/>
    Team Tekkova
</p>

</div>


</body>
</html>