<div class="container-fluid pt-5 pb-5" >
  <div class="row">
  	 <div class="loginmodal-container">
  		<div class="loginmodal-container-2">
        <h1>New Violation</h1>
        
        <%= render 'form', violation: @violation %>
        </div>
    </div>
  </div>
</div>    


