<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= @violation.user.name %>
</p>
<p>
  <strong>Reason:</strong>
  <%= @violation.reason %>
</p>
<%= link_to 'Edit', edit_violation_path(@violation) %>