  <div class="modal" id="policyModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>Please read and review the below policies in order to sign up or for more information access all our policies under "Learn More" at the top right hand side of the page. By clicking agree you acknowledge you have read and understood the below policies.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
          <a href="<%= new_user_session_path %>" class="btn btn-primary" role="button" >Disagree</a>
        </div>
      </div>
      
    </div>
  </div>