<!-- Modal -->
  <div class="modal fade" id="policyModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <!--<div class="modal-header">-->
        <!--  <button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--  <h4 class="modal-title">Modal Header</h4>-->
        <!--</div>-->
        <div class="modal-body">
          <p>Please read and review the below policies in order to sign up or for more information access all our policies under " More" at the top right hand side of the page. By clicking agree you acknowledge you have read and understood the below policies</p>
          <!--<a href="#" class="btn btn-info" role="button">Earning Potential</a>-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
          <a href="<%= new_user_session_path %>" class="btn btn-primary" role="button" >Disagree</a>
        </div>
      </div>
      
    </div>
  </div>