<div class="container py-4">
  <h2 class="text-center py-4">
  Cleaning policy
  </h2>
  <div class="col-lg-6 mx-auto">
    <p>
      Cleaning fees vary depending on the nature of cleaning services required after drop off. Travellers are requested to drop off the vehicle in the same condition as picked up in order to ensure a pleasant experience for the next traveller.
    </p>
    <p>
      However, hosts are highly recommended as mentioned in our marketplace terms and conditions, not to carry out expensive vehicle detailing by a third party to their vehicle prior to handover, travellers are not expected to return a detail cleaned vehicle in the same exact condition. A general exterior and interior cleaning suffices prior to handover to travellers.
    </p>
    <p>For specific cleaning fees such as general interior and exterior cleaning, pet hair and smoke odour removal please refer to our <a href="/fee_and_charges">All fees and charges</a> page.</p>
  </div>
</div>