  <div class="container py-4">
    <h2 class="text-center mb-3">
      Engine, Transmission, Clutch & Tyre Policy
    </h2>
    <div class="col-lg-6 mx-auto">
    <p>
      If there are clear signs of tyre misuse such as rear tyre burnout marks, the traveller associated with the booking account is obligated to cover the full tyre replacement costs, however, in cases of unforseen situations when a tyre is punctured with no signs of tyre misuse the traveller will cover 50% of the replacement cost and the other 50%will be covered by tekkova. 
    </p>
    <p>
      In manual transmission cars clutch replacement is deemed as part of a normal maintenance on a vehicle and over time wears out naturally, however, if there are damage to the clutch, engine or transmission after drop off, the traveller will be responsible for paying 70% of the repair cost if all the servicing and maintenance has been performed regularly on the vehicle, as recommended by the manufacturer, by the host and an authorised dealer confirms that the damage has been done due to misuse after their mechanical inspection.
    </p>
  </div>
  </div>
  
  
  
  
  <!-- Modal -->
  <!--<div class="modal fade" id="engine">-->
  <!--  <div class="modal-dialog">-->
  <!--    <div class="modal-content">-->
      
        <!-- Modal Header -->
  <!--      <div class="modal-header">-->
  <!--        <h4 class="modal-title">Title</h4>-->
  <!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
  <!--      </div>-->
        
        <!-- Description -->
  <!--      <div class="modal-body">-->
  <!--        Description..-->
  <!--      </div>-->
        
        <!-- Modal footer -->
  <!--      <div class="modal-footer">-->
  <!--        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
  <!--      </div>-->
        
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->