<div class="container py-4">
  <h2 class="text-center py-4">
  Fuel policy
  </h2>
  <div class="col-lg-6 mx-auto">
    <p>
      Tekkova implements a full to full fuel policy. On one hand, Tekkova hosts must ensure that their vehicle’s fuel tank is full at the time of vehicle handover to travellers. On the other hand, travellers must make sure to return the vehicle with the same amount of fuel as picked up. Fuel fees may apply to travellers who do not meet our fuel policy requirements.
    </p>
    <p>
      However, fuel fees will not apply to travellers who at the time of pick up did not receive the vehicle with a full fuel tank.
    </p>
    <p>
      For more information regarding fuel fees please refer to our <a href="/fee_and_charges">All fees and charges</a> page.
    </p>
  </div>
</div>