<div class="ftr-widget">
    <div class="container">
        <div class="row">
        <div class="col-md-4">
            <h4 class="ftr-widget-txt mb-3">Learn More</h4>
            <a class="ftr-widget-txt mb-2" href="/about_us">About Us</a><br>
            <a class="ftr-widget-txt mb-2" href="/listing_criteria">Listing Criteria</a><br>
            <a class="ftr-widget-txt mb-2" href="/how_it_works">How Tekkova Works</a>
        </div>
        <div class="col-md-4">
            <h4 class="ftr-widget-txt mb-3">Policies & Fees</h4>
            <a class="ftr-widget-txt mb-1" href="/terms_and_conditions">Marketplace Terms & Conditions</a><br>
            <a class="ftr-widget-txt mb-1" href="/privacy_policy">Privacy Policy</a><br>
            <a class="ftr-widget-txt mb-1" href="/nd_policy">Non discrimination Policy</a><br>
            <a class="ftr-widget-txt mb-1" href="/fee_and_charges">All Fees & Charges</a><br>
            <a class="ftr-widget-txt mb-1" href="/policies">More Policy</a><br><br>
            
            
        </div>
        <div class="col-md-4">
            <h4 class="ftr-widget-txt mb-3">Talk To Us</h4>
             <a href="#"><img src="/fb-icn.png" width="40"></a>
            <br>
            <br>
            <br>
            <a class="ftr-widget-txt mb-1 mt-3" href="/contact_us">Contact Customer Support</a>
        </div>
        </div>
         
    </div>
</div>
<footer id="" class="ftr-widget_1">
    <div class="">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-9">
    			    <div class="mb-2">
    			    <span class="mb-2" style="color: #fff; font-weight: bold"><span><img src="/env-1.png" width="30" class="mr-2 mb-2 mt-2"></span>Our Mailing Address is: </span><span style="color: #fff;">67 Howe Street, Osborne Park, WA, 6017</span>
    			    </div>
    				<p class="ftr-widget-txt" style="font-size: 13px;">TEKKOVA PTY LTD © Copyright 2020. All Rights Reserved. |  <a href="/terms_and_conditions">Marketplace Terms & Conditions</a> | <a href="/privacy_policy">Privacy Policy</a> 
    				<!--|  Developed by <a href="http://www.systemplus.com.pk/" target="_blank">System Plus</a>-->
    				
    				</p>
    			</div>
    			<!--<div class="col-lg-3">-->
    			<!--	<nav id="sub-menu">-->
    			<!--		<ul>-->
    			<!--			<li><a href="#">FAQs</a></li>-->
    			<!--			<li><a href="#">SiteMap</a></li>-->
    			<!--			<li><a href="#">Contact Us</a></li>-->
    			<!--		</ul>-->
    			<!--	</nav>-->
    			<!--</div>-->
    		</div>
    	</div>
    </div>
</footer>