<footer id="footer" class="color color-primary">
    <div class="footer-copyright">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-8">
    				<p>TEKKOVA © Copyright 2018. All Rights Reserved. Developed by <a href="http://www.systemplus.com.pk/" target="_blank">System Plus</a></p>
    			</div>
    			<div class="col-lg-4">
    				<nav id="sub-menu">
    					<ul>
    						<li><a href="#">FAQs</a></li>
    						<li><a href="#">SiteMap</a></li>
    						<li><a href="#">Contact Us</a></li>
    					</ul>
    				</nav>
    			</div>
    		</div>
    	</div>
    </div>
</footer>