<div class="container py-4">
  <h2 class="py-4 text-center">
  Infringements, key replacement and excess mileage policy
  </h2>
  <div class="col-lg-6 mx-auto">
    <p>
      As mention in our <strong>marketplace terms and conditions</strong> under <strong>fees for travellers</strong>, tekkova travellers are responsible for any traffic fines, parking fines, traffic infringements and unpaid tolls etc., which could occur during the booking time when the vehicle is in the possession of the traveller.
      In rare circumstances where local authorities have to or might tow the vehicle away due to traveller breaking traffic laws such as hooning or drug driving, the associated Tekkova account will be banned from any further bookings on the Tekkova platform and the traveller will be responsible for all legal fees, damage and impound fees that may arise.
    </p>
    <p>
      As part of our listing process hosts decide the daily allowance of odometer mileage of free travel that they would allow on their vehicles. We kindly encourage our travellers to take a photo of their chosen vehicle’s odometer before and after the trip. A <strong>$0.3</strong> excess mileage fee will apply for every additional kilometre that may incur over the predetermined allowance.
    </p>
    <p>
      A $400 key replacement plus towing fees will apply in case the traveller loses the vehicle keys.
    </p>
    <p>
      For a more thoroughly, detailed information regarding this particular policy, please refer to our <a href="/terms_and_conditions">Marketplace terms and conditions</a> as well as <a href="/fee_and_charges">All fees and charges</a> page.
    </p>
  </div>
</div>