  <div class="container py-4">
    <h1>Late return and extension policy</h1>
    <p>
      Late return plus admin fees may apply and vary depending on the length of late return hours. If late return has been discussed and approved by the car host via tekkova chat system prior to pick up, late fees will not apply to travellers.
    </p>
    <table class="table table-striped" style="border:2px solid">
      <tr>
        <th>Late hours return</th>
        <th>Late fees</th>
        <th>Admin charges</th>
      </tr>
      <tr>
        <td>1-4 late hours</td>
        <td>$30</td>
        <td>$20</td>
      </tr>
      <tr>
        <td>4-10 late hours</td>
        <td>$60</td>
        <td>$20</td>
      </tr>
      <tr>
        <td>10-24 late hours</td>
        <td>Full day booking amount</td>
        <td>$30</td>
      </tr>
      
    </table>
    <p>
      If an extension is requested for a date when another traveller has already booked the vehicle on the same day, admin and extension fees will apply, however, if the extension request has been approved by the car host and no other traveller has booked the car on the day of the extension no fees will apply.
    </p>
    <p>
      For more information regarding late return or Extension fees please refer to our <a href="/fee_and_charges">All fees and charges</a> page.
    </p>
  </div>
  <!-- Modal -->
  <!--<div class="modal fade" id="late">-->
  <!--  <div class="modal-dialog">-->
  <!--    <div class="modal-content">-->
      
        <!-- Modal Header -->
  <!--      <div class="modal-header">-->
  <!--        <h4 class="modal-title">Title</h4>-->
  <!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
  <!--      </div>-->
        
        <!-- Description -->
  <!--      <div class="modal-body">-->
  <!--        Description..-->
  <!--      </div>-->
        
        <!-- Modal footer -->
  <!--      <div class="modal-footer">-->
  <!--        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
  <!--      </div>-->
        
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->