<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="background: #f1f1f1;
      padding-top: 30px;
      padding-bottom: 30px;">
    <div style="width: 80%;
      -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px#888;
      box-shadow: 0 0 5px #888;
      padding: 20px;
      display: block;
      margin: 0 auto;
      background: #fff;">
      <div style="background: #000;
      padding-top: 30px;
      padding-bottom: 30px;">
        <center><img src="http://tekkova.herokuapp.com/logo-t2.png" width="200" height="100"></center>
      </div>
      <br>
      <p style="text-transform: capitalize;"><strong>Hi <%= @resource.name.titlecase %></strong></p>
      <p>Please activate your account in order to list your car and slash your car maintenance expenses.</p>
      <br>
      <br>
      <center><a style="background-color: #21a5D6;
      border-color: #21a5D6 #21a5D6 #0088cc;
      color: #ffffff !important;
      padding: 13px 10px 13px 10px;
      border: none;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;" href = "<%= confirmation_url(@resource, confirmation_token: @token) %>">Activate</a></center><br/>
      <br>
      <br>
      <div style="background-color: #21a5D6;
      padding: 10px 10px;
      color: #fff;">
        <p style="text-align: center;"><strong>Our Mailing Address is</strong></p>
        <p style="text-align: center;">
          67 Howe Street<br>
          Osborne Park<br>
          WA 6017
        </p>
      </div>
      <div style="background-color: #fff;
      padding: 10px 10px;
      color: #000;">
        <p>
          This email was sent by Tekkova. Tekkova is an online marketplace that facilitates peer to peer private car rented share
        </p>
      </div>
    </div>
  </body>
</html>